<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!-- 激活aop自动代理功能 @AspectJ-->
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <!-- 自动扫描 排除@Controller-->
    <context:component-scan base-package="com">
        <context:exclude-filter expression="org.springframework.stereotype.Controller" type="annotation"/>
    </context:component-scan>


    <!--数据源相关-->
    <!--<import resource="spring-mybatis.xml"/>-->
    <!--<import resource="spring-source.xml"/>-->
    <!--工作流-->
    <!--<import resource="spring-activiti.xml"/>-->
    <!--mvc-->
    <import resource="spring-mvc.xml"/>
    <!--引入定时器-->
    <!--<import resource="spring-task.xml"/>-->
    <!--<import resource="spring-taskCustom.xml"/>-->
</beans>
