<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mybatis.mapper.EmpMapper">

    <!--二级缓存开启-->
    <!--创建了一个 FIFO 缓存，每隔 60 秒刷新，最多可以存储结果对象或列表的 512 个引用，
        而且返回的对象被认为是只读的，因此对它们进行修改可能会在不同线程中的调用者产生冲突。-->
    <!-- 二级缓存是事务性的。这意味着，当 SqlSession 完成并提交时，或是完成并回滚，
         但没有执行 flushCache=true 的 insert/delete/update 语句时，缓存会获得更新(与数据库不一致)。-->
    <cache eviction="FIFO"
           flushInterval="60000"
           size="512"
           readOnly="true"/>

    <resultMap id="BaseResultMap" type="mybatis.pojo.Emp">
        <id column="empno" property="empno" jdbcType="DECIMAL"/>
        <result column="ename" property="ename" jdbcType="VARCHAR"/>
        <result column="job" property="job" jdbcType="VARCHAR"/>
        <result column="mgr" property="mgr" jdbcType="DECIMAL"/>
        <result column="hiredate" property="hiredate" jdbcType="DATE"/>
        <result column="sal" property="sal" jdbcType="DECIMAL"/>
        <result column="comm" property="comm" jdbcType="DECIMAL"/>
        <result column="deptno" property="deptno" jdbcType="DECIMAL"/>
    </resultMap>
    <sql id="Base_Column_List">
    empno, ename, job, mgr, hiredate, sal, comm, deptno
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" flushCache="true" useCache="true"
            parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from emp
        where empno = #{empno,jdbcType=DECIMAL}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from emp
    where empno = #{empno,jdbcType=DECIMAL}
    </delete>

    <insert id="insert" parameterType="mybatis.pojo.Emp">
        <selectKey>
            <if test="_databaseId == 'oracle'">
                select seq_users.nextval from dual
            </if>
            <if test="_databaseId == 'db2'">
                select nextval for seq_users from sysibm.sysdummy1
            </if>
        </selectKey>
        insert into emp (empno, ename, job,
        mgr, hiredate, sal, comm,
        deptno)
        values (#{empno,jdbcType=DECIMAL}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR},
        #{mgr,jdbcType=DECIMAL}, #{hiredate,jdbcType=DATE}, #{sal,jdbcType=DECIMAL}, #{comm,jdbcType=DECIMAL},
        #{deptno,jdbcType=DECIMAL})
    </insert>
    <insert id="insertSelective" parameterType="mybatis.pojo.Emp">
        insert into emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empno != null">
                empno,
            </if>
            <if test="ename != null">
                ename,
            </if>
            <if test="job != null">
                job,
            </if>
            <if test="mgr != null">
                mgr,
            </if>
            <if test="hiredate != null">
                hiredate,
            </if>
            <if test="sal != null">
                sal,
            </if>
            <if test="comm != null">
                comm,
            </if>
            <if test="deptno != null">
                deptno,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="empno != null">
                #{empno,jdbcType=DECIMAL},
            </if>
            <if test="ename != null">
                #{ename,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                #{job,jdbcType=VARCHAR},
            </if>
            <if test="mgr != null">
                #{mgr,jdbcType=DECIMAL},
            </if>
            <if test="hiredate != null">
                #{hiredate,jdbcType=DATE},
            </if>
            <if test="sal != null">
                #{sal,jdbcType=DECIMAL},
            </if>
            <if test="comm != null">
                #{comm,jdbcType=DECIMAL},
            </if>
            <if test="deptno != null">
                #{deptno,jdbcType=DECIMAL},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="mybatis.pojo.Emp">
        update emp
        <set>
            <if test="ename != null">
                ename = #{ename,jdbcType=VARCHAR},
            </if>
            <if test="job != null">
                job = #{job,jdbcType=VARCHAR},
            </if>
            <if test="mgr != null">
                mgr = #{mgr,jdbcType=DECIMAL},
            </if>
            <if test="hiredate != null">
                hiredate = #{hiredate,jdbcType=DATE},
            </if>
            <if test="sal != null">
                sal = #{sal,jdbcType=DECIMAL},
            </if>
            <if test="comm != null">
                comm = #{comm,jdbcType=DECIMAL},
            </if>
            <if test="deptno != null">
                deptno = #{deptno,jdbcType=DECIMAL},
            </if>
        </set>
        where empno = #{empno,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="mybatis.pojo.Emp">
    update emp
    set ename = #{ename,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      mgr = #{mgr,jdbcType=DECIMAL},
      hiredate = #{hiredate,jdbcType=DATE},
      sal = #{sal,jdbcType=DECIMAL},
      comm = #{comm,jdbcType=DECIMAL},
      deptno = #{deptno,jdbcType=DECIMAL}
    where empno = #{empno,jdbcType=DECIMAL}
  </update>
    <select id="findAll" resultMap="BaseResultMap" useCache="false" flushCache="true">
        select
        <include refid="Base_Column_List"/>
        from emp
    </select>

    <select id="selectEmpsLike" resultMap="BaseResultMap" parameterType="string">
        <bind name="pattern" value="'%' + #{value} + '%'"/>
        SELECT
        <include refid="Base_Column_List"/>
        FROM emp
        WHERE ename LIKE #{pattern}
    </select>
</mapper>